/* Root Variables */
:root {
    --black: #333;
    --white: #eee;
    --primary-color: #00BCD4;
    --label-z-index: 200;
    --svg-z-index: 100;
    --border-radius-main: 5px;
    --box-shadow-main: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    --transition-duration-standard: 0.25s;
  }
  
  /* Muscle Groups Styling */
  .muscle-groups {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
    background: var(--white);
    width: 350px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow-main);
    overflow: hidden;
  }
  
  /* Muscle SVG Styling */
  .muscle-svg {
    height: auto;
    max-width: 600px;
    
  }
  
  /* Muscle SVG Interaction */
  .muscle-groups svg {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
    height: 350px;
    z-index: var(--svg-z-index);
  }
  
  .muscle-groups svg g[id] path {
    opacity: 0.2;
    transition: opacity var(--transition-duration-standard) ease-in-out;
  }
  
  .muscle-groups svg g g[id]:hover path,
  .muscle-groups svg g g[id]:focus path {
    cursor: pointer;
    opacity: 0.5;
    fill: var(--primary-color) !important;
    animation: pulse 1s infinite;
  }
  
  /* Helper Classes */
  .muscle-groups .muscles-helper {
    display: none;
  }
  
  /* Keyframe Animations */
  @keyframes pulse {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.2;
    }
  }
  
  /* Basic Layout Styling */
  html {
    // background: linear-gradient(25deg, #111, #555);
  }
  // main {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   min-height: 100vh;
  //   width: 100%;
  //   padding: 2rem 0;
  // }
  