@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');

$color-1: #03F9B6;
$color-2: #0992FB;
$color-back: #fff;
$color-text: #000;
// $active-btn-color: #E7E7E7;
// $color-gray-text: #666;
// $pain-color: #FE17A8B2;
$title-font: 'Roboto Mono', monospace;
$main-font: 'Inter', sans-serif;